
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/x-icon" href="~/Content/assets/favicon.ico" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="~/Content/css/PagedList.css" rel="stylesheet" />

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        h3 {
            font-size: 20px;
        }
    </style>

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Gunum/Index">
                <div>
                    <i class="fa fa-book"></i>
                </div>
                <div class="sidebar-brand-text mx-3">

                    To Do
                </div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="/Gunum/Index">
                    <i class="fa fa-sun"></i>
                    <span>Günüm</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
            </div>

            <li class="nav-item">
            <li class="nav-item active">
                <a class="nav-link" href="/Onemli/Index">
                    <i class="fa fa-star"></i>
                    <span>Önemli</span>
                </a>
            </li>

            <li class="nav-item">
            <li class="nav-item active">
                <a class="nav-link" href="/Planlanan/Index">
                    <i class="fa fa-clock"></i>
                    <span>Planlanan</span>
                </a>
            </li>

            <li class="nav-item">
            <li class="nav-item active">
                <a class="nav-link" href="/Tamamlanan/Index">
                    <i class="fa fa-check"></i>
                    <span>Tamamlanan</span>
                </a>
            </li>

            <li class="nav-item">
            <li class="nav-item active">
                <a class="nav-link" href="/Gorevler/Index">
                    <i class="fa fa-home"></i>
                    <span>Görevler</span>
                </a>
            </li>

            <li class="nav-item">
            <li class="nav-item active">
                <a class="nav-link" href="/YeniListe/Index">
                    <i class="fa fa-plus"></i>
                    <span>Yeni Liste</span>
                </a>
            </li>
            </li>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <div class="container-fluid">
                    <br><br><br />

                    @RenderBody()

                </div>
            </div>

        </div>

    </div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; FatmaYazıcı 2023</span>
            </div>
        </div>
    </footer>

    </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @RenderSection("body", false);

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

    <script src="~/Content/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/js/demo/chart-pie-demo.js"></script>

    @RenderSection("scripts", false);

</body>

</html>
